// mixins
@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

// break points
$bp-largest: 75em; //1200px
$bp-large: 68.75em; // 1100px
$bp-min-large: 62.5em; //1000pxe
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px
$bp-smallest: 25em; //400px
