// COLOR PALETTE
$color-white: #ffffff;
$color-black: #25282b;
$color-green: #007067;
$color-yellow-gold: #f4bb00;

$color-primary-3: #23282d;
$border-color: #4b4a4a;

$color-red: #ff4a57;

$color-error: #dc3232;

$color-grey: #dfdfdf;
$color-grey-2: #ddd;

$color-grey-3: #fbfbfc;

$color-primary: #1f2235;

$color-primary-1: #23263a;
