/* ----------------------------------------------- */
/* BLOG */
/* ----------------------------------------------- */
@import "../../../sass/abstracts/variables";

.contentList {
  &__image {
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
  }

  &__item {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  &__container {
    padding: 3rem;
    span {
      color: $color-grey;
      font-size: 1.4rem;
      margin-bottom: 1rem;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    letter-spacing: 1px;
    &:hover {
      color: $color-red;
    }
  }

  &__text {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }
}
