/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */

@import "../../../sass/abstracts/variables";
.footer {
  color: $color-grey;
  padding: 10rem 0 0;
  text-align: center;
  font-size: 1.8rem;
  background-color: $color-primary-1;

  &__text {
    margin-top: 3rem;
    margin-bottom: 1rem;
    width: 44%;
    margin-right: auto;
    margin-left: auto;
  }

  &__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  &__list {
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__icon {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-primary;
    padding: 1.3rem;
    transition: all 0.3s ease;

    &:hover {
      background-color: $color-red;
    }

    svg {
      height: 2rem;
      width: 2rem;
    }
  }

  &__copyright {
    padding: 2rem 0;
    background: $color-primary-1;
  }
}
