@import '../../../sass/abstracts/mixins';

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(54rem, 1fr));
  grid-gap: 2rem;
}

@media only screen and (max-width: $bp-small) {
  .list {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}
