@import "../../../sass/abstracts/variables";

.card {
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  cursor: pointer;
  margin: 0 auto;
  width: 33.3%;
  background-color: $color-primary-1;
  margin-bottom: 2rem;
  color: $color-white;
  box-shadow: 0 2rem 8rem rgb(0 0 0 / 20%);
}
