/* ----------------------------------------------- */
/* SOCIALS */
/* ----------------------------------------------- */
@import "../../../sass/abstracts/variables";

.socials {
  display: flex;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 6rem;

  &__link {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $color-red;
    padding: 1.3rem;
    transition: all 0.3s ease;
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
    &:hover {
      background-color: $color-red;
    }

    svg {
      height: 2rem;
      height: 2rem;
    }
  }
}
