/* ----------------------------------------------- */
/* ABOUT */
/* ----------------------------------------------- */
@import "../../sass/abstracts/variables";

.about-me {
  font-size: 1.6rem;
  color: #dfdfdf;
  margin-bottom: 1.5rem;
  &__cta {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
}

.aboutme-socials {
  display: flex;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 6rem;
  &__icon {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ff4a57;
    padding: 1.3rem;
    transition: all 0.3s ease;
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
    &:hover {
      background-color: #ff4a57;
    }

    svg {
      height: 2rem;
      height: 2rem;
    }
  }
}

.shape {
  margin: 0 auto;
  &__photo {
    height: 100%;
  }
}
