/* ----------------------------------------------- */
/* BLOG */
/* ----------------------------------------------- */
@import "../../sass/abstracts/variables";

.section-project {
  background-color: $color-organe;
  padding: 4rem 0;
}

.contentList {
  color: $color-black;

  &__title {
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  &__text {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
  }
}
