/* ----------------------------------------------- */
/* PROJECT */
/* ----------------------------------------------- */
@import "../../sass/abstracts/variables";

.section-project {
  // padding: 4rem 0;
}

.contentList {
  color: $color-black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;

  &__box {
    background-color: $color-white;
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 0 2rem 3rem rgb(0 0 0 / 20%);
  }

  &__title {
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  &__text {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
  }
  &__img {
    object-fit: cover;
    display: block;
    width: 100%;
    width: 55%;
    margin: 0 auto;
  }
}
