@import "../../sass/abstracts/variables";

.card {
  background-color: $color-grey;
  border-radius: 0.4rem;
  padding: 3rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
}
