/* ----------------------------------------------- */
/* ABOUT */
/* ----------------------------------------------- */
@import '../../../sass/abstracts/variables';
@import '../../../sass/abstracts/mixins';

.About {
  background-color: $color-primary-1;
}

.about-me {
  font-size: 2rem;
  color: $color-grey;
  &:not(:last-of-type) {
    margin-bottom: 1.5rem;
  }
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
}

.col-1-of-lg {
  flex: 0 0 58.333333%;
  margin-right: 1.5rem;
}

@media only screen and (max-width: $bp-min-large) {
  .col-1-of-lg {
    flex: 1;
    margin-right: 0;
  }
}

@media only screen and (max-width: $bp-medium) {
  .col-1-of-lg {
    text-align: center;
  }
}

.col-1-of-2-sm {
  flex: 1;
}

@media only screen and (max-width: $bp-min-large) {
  .col-1-of-2-sm {
    display: none;
  }
}

.cta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 4rem;
}
@media only screen and (max-width: $bp-medium) {
  .cta {
    justify-content: center;
  }
}

.shape {
  margin: 0 auto;
  &__photo {
    height: 100%;
  }
}

.socials {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10rem;
  margin-bottom: 6rem;
  &__list {
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $color-red;
    padding: 1.3rem;
    transition: all 0.3s ease;

    &:hover {
      background-color: $color-red;
    }

    svg {
      height: 2rem;
      width: 2rem;
    }
  }
}

@media only screen and (max-width: $bp-medium) {
  .socials {
    justify-content: center;
    margin-bottom: 3rem;
  }
}
