/* ----------------------------------------------- */
/* ABOUT */
/* ----------------------------------------------- */
@import '../../../sass/abstracts/variables';

.about-me {
  font-size: 2rem;
  color: $color-grey;
  &:not(:last-of-type) {
    margin-bottom: 1.5rem;
  }
}

.cta {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 4rem;
}

.shape {
  margin: 0 auto;
  &__photo {
    height: 100%;
  }
}

.socials {
  display: flex;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 6rem;

  &__list {
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $color-red;
    padding: 1.3rem;
    transition: all 0.3s ease;

    &:hover {
      background-color: $color-red;
    }

    svg {
      height: 2rem;
      width: 2rem;
    }
  }
}
