/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

@import "../../../sass/abstracts/variables";
.header {
  font-size: 1.8rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-white;
  padding: 3rem 12rem;
  position: relative;
}

.scrolled {
  position: sticky;
  top: 0;
  z-index: 1030;
  background: $color-primary-1;
  box-shadow: 1.8rem 4rem -3rem $color-primary-1;
  animation: 1000ms ease-in-out 0s normal none 1 running fadeInDown;
}

.nav {
  &__item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 8rem;
    }
  }

  a {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    display: block;
    position: relative;
    &:focus {
      border: none;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      height: 2px;
      width: 0;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      background-color: $color-red;
      margin-top: 0.5rem;
    }
  }
  a:hover,
  a:hover::after,
  a:active::after,
  .active::after {
    width: 100%;
    left: 0;
    color: $color-red;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
