/**********
* PROJECT BASICS
**********/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700;800;900&display=swap");
@import "../sass/abstracts/variables";
@import "../sass/abstracts/mixins";

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  color: $color-white;
  // background-color: $color-primary;
  background-color: #1f2235;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

section {
  padding: 10rem 00 0;
}

.heading-primary {
  font-size: 6.2rem;
  font-weight: 400;
  line-height: 1;
  font-weight: bold;
  margin-bottom: 2.5rem;

  &__white {
    color: $color-white;
  }
}

.text-center {
  text-align: center;
}
.margin-bottom {
  margin-bottom: 3rem;
}

.row {
  width: 114rem;
  margin: 0 auto;
  @include clearfix;
  &:not(:last-child) {
    margin-bottom: 6rem;
  }
}
.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
  float: left;
  &:not(:last-child) {
    margin-right: 6rem;
  }
}

.btn {
  font-size: 1.8rem;
  font-family: inherit;
  font-weight: inherit;
  cursor: pointer;
  border: none;
  display: inline-block;

  &__text {
    background-color: transparent;
    color: #ff4a57;
    transition: all 0.2s;
    &:hover {
      color: $color-white;
      transform: translateY(-2px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    }
  }

  &__organe {
    border-radius: 0;
    width: 100%;
    color: $color-white;
    background-color: #003366;
    // border: 1px solid $color-organe;

    transition: all 0.2s;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    }
  }
}
