/**********
* PROJECT BASICS
**********/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700;800;900&display=swap');
@import '../sass/abstracts/variables';
@import '../sass/abstracts/mixins';

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  color: $color-white;
  background-color: $color-primary;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

section {
  padding: 10rem 0 10rem 0;
}

.heading-primary,
.heading-secondary {
  font-size: 6.2rem;
  line-height: 1;
  font-weight: bold;
  margin-bottom: 2.5rem;
  &__white {
    color: $color-white;
  }
  &__small {
    font-size: 5.2rem;
  }
}

.text-center {
  text-align: center;
}
.margin-bottom {
  margin-bottom: 3rem;
}

.row {
  width: 114rem;
  margin: 0 auto;
  @include clearfix;
  &:not(:last-child) {
    margin-bottom: 6rem;
  }
}

.btntext {
  background-color: transparent;
  color: $color-red;
  transition: all 0.2s ease;
  border: none;
  &:hover {
    color: $color-grey;
    transform: translateY(-2px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  }
}
.btnround {
  border-radius: 10rem;
  color: $color-white;
  background-color: transparent;
  border: 2px solid $color-red;
  font-weight: 500;
  padding: 1.3rem 4rem;
  transition: all 0.2s ease;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    $color-red 50%
  );
  background-size: 240%;

  &--red {
    background-color: $color-red;
  }

  &--lg {
    padding: 1.8rem 6rem;
  }

  &:hover {
    background-position: 100%;
    transform: translateX(1rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
  }
}

.bg-cl {
  background-color: $color-primary-1;
}
