/**********
* PROJECT BASICS
**********/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700;800;900&display=swap");

@import "../sass/abstracts/variables";
@import "../sass/abstracts/mixins";

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  color: $color-black;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

.heading-primary {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 1.5rem;
  display: inline-block;

  &__white {
    font-weight: 500;
    color: $color-white;
  }
}

.text-center {
  text-align: center;
}
.margin-bottom {
  margin-bottom: 3rem;
}

.row {
  width: 114rem;
  margin: 0 auto;
  @include clearfix;
  &:not(:last-child) {
    margin-bottom: 6rem;
  }
}
.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
  float: left;
  &:not(:last-child) {
    margin-right: 6rem;
  }
}

.btn {
  font-size: 1.8rem;
  font-family: inherit;
  font-weight: inherit;
  cursor: pointer;
  padding: 0.8rem 2.4rem;
  border: none;

  &__text {
    background-color: transparent;
    color: $color-white;
    transition: all 0.2s;
    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    }
  }

  &__organe {
    border-radius: 0;
    color: $color-white;
    background-color: $color-organe;
    transition: all 0.2s;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    }
  }
}
